* { 
	vertical-align: top;
	box-sizing: border-box; }
/* this makes padding inwards instead of outwards*/

body {
	margin: 0;
	padding: 0;
	font-size: 0;
}

html, body { height: 100%; }
/* because body carries wrapper and column which dont have a set height*/

.wrapper {
	width: 100%;
	height: 100%;
	background: #9ABACB;
}

.column {
	width: 50%;
	display: inline-block;
	height: 100%;
	text-align: center;
}

.gif {
	display: block;
	text-align: center;
	margin: 150px auto;
}

.content {
	background: #f1f1f1;
	font-size: 20px;
	text-align: center;
}



.nav-item {
	border: 0px solid #000;
	padding: 1px 20px;
	display:inline-block;
	font-size: 20px;
	margin: 270px 15px 15px 0;
	cursor: pointer;
}

/*to put these together means the one you're hovered over connect with active after functiopn*/
.nav-item:hover, .nav-item.active {
	background: #B5CFDD;
	color: #fff;
}

.content.green { background: #FFCE06; }
.content.blue { background: #FFD8D8; }
.content.red { background: #931111; }
.content.sol-lewitt { background: #BFCDB7; }
.content.about { background: #0A0202; }




.close-button {
	position: absolute;
	top: -5px;
	right: 30px;
	font-size: 100px;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
}

.audio { opacity: 0; }

.hide { display: none; }

.face { margin-top: 60px }


#navtears2 {
	margin-top: 320px;
}
